.MainMenu-Title {
    word-wrap: normal;
}

.setNumbers {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 10px 0;
    gap: 5px;
}

.setNumbers textarea {
    resize: none;
    border: 1px solid;
    border-radius: 5px;
    padding: 2px;
    display: flex;
    text-align: center;
    height: fit-content;
}

button {
    border-radius: 5px;
    border: 1px solid;
    padding: 2px;
    cursor: pointer;
    width: fit-content;
}

button:hover {
    background-color: #D3D3D3;
}