* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  opacity: 1;
  background-size: 23px 23px;
  border: 2px solid;
  font-size: 20px;
  /* From https://css.glass */
  background: rgba(144, 144, 144, 0.59);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(144, 144, 144, 0.63);
}