.option input {
    cursor: pointer;
}

.option textarea {
    resize: none;
    border: 1px solid;
    border-radius: 5px;
    padding: 2px;
    display: flex;
    height: fit-content;
    width: fit-content;
}

.example {
    font-size: 15px;
}

.error {
    color: rgb(255, 0, 0)
}

.answers {
    width: 100%;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}