.option input {
    cursor: pointer;
}

.option textarea {
    resize: none;
    border: 1px solid;
    border-radius: 5px;
    padding: 2px;
    display: flex;
    height: fit-content;
    width: fit-content;
}

.example {
    font-size: 15px;
}

.error {
    color: rgb(255, 0, 0)
}

.answers {
    width: 100%;
}